<section class="error-container">
    <video autoplay muted loop id="bg-video">
        <source src="/img/notfound.mp4" type="video/mp4">
    </video>
    <div class="error-message">
        <h1>(:</h1>
        <p>This page is strictly reserved for authorized administrators only.</p>
        <a href="/" class="button">Go to homepage</a>
    </div>
</section>
