
<div class="container-contact">
    <form>
        <h1> Contact us</h1>
        <input type="text" id="FirstName" placeholder="FirstName" required>
        <input type="text" id="LastName" placeholder="LastName" required>
        <input type="text" id="Email" Placeholder="Email" required>
        <input type="text" id="Mobile" Placeholder="Mobile" required>
        <h4>Type Your Message Here... </h4>
        <textarea required> </textarea>
        <input type="submit" value="Send" id="Button">
    </form>
</div>

