<body>
<div id="wrapper">

    <div class="container-gallery">
        <h1 class="heading">
            <span>G</span>
            <span>A</span>
            <span>L</span>
            <span>L</span>
            <span>E</span>
            <span>R</span>
            <span>Y</span>
        </h1>
        <div class="gallery">
            <figure class="card-gallery">
                <img src="/img/gallery/img_1.jpg" alt="">
                <figcaption>Dahab</figcaption>
            </figure>
            <figure class="card-gallery">
                <img src="/img/gallery/img_2.jpg" alt="">
                <figcaption>Siwa Oasis</figcaption>
            </figure>
            <figure class="card-gallery">
                <img src="/img/gallery/img_3.jpg" alt="">
                <figcaption>Fayoum</figcaption>
            </figure>
            <figure class="card-gallery">
                <img src="/img/gallery/img_4.jpg" alt="">
                <figcaption>Saint Catherine</figcaption>
            </figure>
            <figure class="card-gallery">
                <img src="/img/gallery/img_5.jpg" alt="">
                <figcaption>Taba</figcaption>
            </figure>
            <figure class="card-gallery">
                <img src="/img/gallery/img_6.jpg" alt="">
                <figcaption>Telal Ain Sokhna</figcaption>
            </figure>

        </div>
    </div>
</div>
</body>
