<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours Website</title>
    <!--google font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--css-->
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>


    <!--header section-->
       
    <header>
       <div id="menu-bar" class="fas fa-bars"></div>
        <a href="#" class="logo"><span>U</span>p&away</a>
        <nav class="navbar">
            <a href="home"> home</a>
            <a href="#book">book</a>
            <a href="#packages ">packages</a>
            <a href="#services">services</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
        </nav>

        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>

        <form action ="" class="search-bar-container">
        <input type="search " id="search-bar" placeholder= "search here...">
        <label for="search-bar" class="fas fa-search"></label>
        </form>

    </header>
    <div class="login-form-container">

        <i class ="fas fa-times" id="form-close"></i>
        
        <form action="">
          <h3>Sign in</h3>
          <input type="email" class="box" placeholder="Enter your email">
          <input type="password" class="box" placeholder="Enter your password">
          <input type="submit" value="login now" class="btn">


          <!--or-line-->

          <div class="or-container">
            <hr class="or-line">
            <span class="or-text">or sign in with</span>
            <hr class="or-line">
          </div>

          <!--google-button-->

          <button class="btn-google">
            <img src="/public/img/google-37.png" alt="Google logo">
             Google
          </button>


          <div class="radio-container">
            <label>
              <input type="radio" name="user-type" value="user" checked>
              User
            </label>
            <label>
              <input type="radio" name="user-type" value="admin">
              Admin
            </label>
          </div>
          
          <input type="checkbox" id="remember">
          <label for="remember">remember me</label>
          <p> forget password? <a href="#">click here</a></p> 
          <p>don't have an account? <a href="#">register now</a></p>
        </form>
      </div>

      <!-- home section start-->
      <section class="home" id = "home">


       <div class="content">
         <h3>adventure is worthwhile</h3>
         <p>discover new places with us, adventure awaits</p>
         <a href = "#" class="btn"> discover more</a>
       </div>

       <div class ="controls">
        <span class="vid-btn" data-src="/public/img/production ID_4154532.mp4"></span>
       </div>

       <div class ="video-container">
              <video src="/public/img/production ID_4154532.mp4" id="video-slider" loop autoplay muted></video>
       </div>



      </section>
      
      

      <!-- home section end-->

    <!--scripts-->
    <script src="/public/scripts/script.js"></script>

</body>

</html>