

<Section class="services" id="services">
    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="/img/services/travel.png">
            <h3>Tour Packages</h3>
            <p>ay 7amadaa</p>
        </div>
        <div class="box">
            <img src="/img/services/food.png">
            <h3>food&drink</h3>
            <p>ay 7amadaa</p>
        </div>
        <div class="box">
            <img src="/img/services/tour-guide.png">
            <h3>tour-guide</h3>
            <p>ay 7amadaa</p>
        </div>
        <div class="box">
            <img src="/img/services/camping.png">
            <h3>Family-Friendly Camping</h3>
            <p>ay 7amadaa</p>
        </div>

        <div class="box">
            <img src="/img/services/Fastest.png">
            <h3>Fastest travel</h3>
            <p>ay 7amadaa</p>
        </div>
        <div class="box">
            <img src="/img/services/adventurer.png">
            <h3>adventares</h3>
            <p>ay 7amadaa</p>
        </div>
        <div class="box">
            <img src="/img/services/protection-shield-with-a-check-mark.png">
            <h3>adventares</h3>
            <p>ay 7amadaa</p>
        </div>

    </div>

    </div>
</Section>


