@import url('https://fonts.googleapis.com/css22family=Nunito:wght|200;300;400;600;700&display=swap');

:root {
  --blue : #fff;
  --gold: #FFD700;
}




* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 8;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear
}

*::selection {
  background: var(--blue);
  color: #fff;
}


html {
  font-size: 62.5%;
  overflow-X: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}




/* home css*/
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content : center;
  flex-flow: column;
  position : relative;
  z-index: 0;
}


.home .content{
  text-align: center;
}


.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  text-transform: uppercase;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left:0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.btn {
  display: inline-block;
  margin: 1rem;
  background-color: rgba(30,30, 30, 0.8);
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid var(--blue);
}




header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}


header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}


header .logo span {
  color: var(--gold);
}


header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}


header .navbar a:hover {
  color: var(--blue);
}

/*
 icon style
*/
header .icons i {
  font-size: 2.5rem;
  color: afff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--blue);
}



header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: .5rem;
}


header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label :hover {
  color: var (--blue);
}


body {
  height: 200rem;
}

.icons i {
  color: white;
}


/* main screen (login) start */
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: .1rem solid rgba(0, 0, 0, .3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--blue);
}

.login-form-container form #remember {
  margin: 1rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  background-color: #ffffff;
  color: #4285f4;
  font-size: 1.5rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin: .6rem 0;
  cursor: pointer;
  width: 100%;
  border: 2px solid #4285f4;
}

.login-form-container form .btn:hover {
  background-color: #3367D6;
  color: #fff;
}

.login-form-container form p{
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--blue);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: unset;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}



/* main screen (login) end */


/* or-line start */
.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.or-line {
  flex-grow: 1;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}

.or-text {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
/* or-line end */



/* google-button start  */
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
  color: #4285f4;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  border: 2px solid #4285f4;
}

.btn-google img {
  margin-right: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-google:hover {
  background-color: #3367D6;
  color: #fff;
}

/* google-button end*/

/* radio button style start */

.radio-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.radio-container label {
  margin: 0 1rem;
}


/* radio button style end */

#menu-bar {
  color: #fff;
  border: .1rem solid#fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}


body {
 height: 300rem;
}

























/* media queries */

@media (max-width:1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:991px) {
  header {
    padding: 2rem;
  }
}



@media (max-width:768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0 , 100% 0, 100% 0,0 0);
  }

  header .navbar.active{
    clip-path : polygon(0 0 , 100% 0, 100% 100%,0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}




@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}