


/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear
}

:root{
    --black: #000000;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    height: 300rem;
    line-height: 1.6;
}


/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--black);
    border-left: 10px solid var(--black);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--black);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}






/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: 1fr;
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.inProgress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}


.btn {
    display: inline-block;
    margin: 1rem;
    background-color: rgb(45, 45, 45);
    color: #fff;
    padding: .8rem 3rem;
    border: .1rem solid var(--black);
    font-size: 1.4rem;
}

.card {
    width: 100%; /* Added */
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-self: end; /* Added */
}

.card__header {
    position: relative;
}
.card__picture {
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 15rem;
}

.card__picture-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.card__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2rem 2.5rem;
}
.card__sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
}
.card__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
}

.card__data {
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.card__data svg {
    margin-right: 0.7rem;
}
.card__icon {
    height: 2rem;
    width: 2rem;
    fill: rgba(0, 0, 0, 0.85);
}
.card__footer {
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
}
.card__footer-value {
    font-weight: 700;
}
.card__footer-text {
    color: #999;
}
.card__ratings {
    grid-row: 2 / 3;
}
.card .btn-small,
.card .btn {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
}


.card2__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
}
.card2__footer .btnr,
.card2__footer .btng {
    width: 100px;
    height: 40px;
    text-align: justify;
    line-height: 20px;
    border-radius: 4px;
    text-align: center; /* Add this line */
}
.card2__footer .btng {
    margin-right: 1rem;
}
.card2__footer .btnr {
    margin-left: 1rem;
}




/* packages */
.packages .box-container1 {
    max-width: 80rem; /* Decreased from 100rem */
    margin-left: 20rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Updated */
    grid-gap: 5rem;
}




.heading-primary,
.heading-tertirary {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
    padding: 1rem 1.5rem;
    line-height: 1;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(
            to bottom right,
            rgb(45, 45, 45),
            rgba(0, 0, 0, 0.85)
    );
}


.heading-tertirary {
    font-size: 2.5rem;
    text-align: right;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 80%;
    z-index: 10;
}
.btng{
    display: inline-block;
    margin: 1rem;
    background-color: rgb(5, 141, 59);
    color: #fff;
    padding: .8rem 3rem;
    border: .1rem solid var(--black);
    font-size: 1.4rem;
}

.btnr{
    display: inline-block;
    margin: 1rem;
    background-color: rgba(174, 4, 4, 0.8);
    color: #fff;
    padding: .8rem 3rem;
    border: .1rem solid var(--black);
    font-size: 1.4rem;
}