<!DOCTYPE html>
<html>
<head>
    <meta>
    <title></title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
</html>

<body class="customers">

<div class="recentCustomers">
    <div class="cardHeader">
        <h2>Customers</h2>
    </div>

    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>Fist Name</label><label class="validation-error hide" id="fullNameValidationError">This
                        field is required.</label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input type="text" name="empCode" id="empCode">
                    </div>
                    <div>
                        <label>Phone Number</label>
                        <input type="text" name="salary" id="salary">
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="text" name="city" id="city">
                    </div>
                    <div class="form-action-buttons">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</div>
</div>
</div>
</div>


<script src="../../../Responsive%20Admin%20Dashboard%20-%20final/assets/js/customers.js"></script>
</body>